html, body {
  height: 100%;
  background-color: transparent;
}

:root {
  --bg-main-color: hsl(206, 29%, 90%);
  --bg-secondary-color: hsl(206, 11%, 100%);
  --bg-text-color: hsl(206, 32%, 47%);
  --bg-text-hover-color: hsl(206, 32%, 20%);
  --container-length: 300px;
}

#pomodoro-controller {
  transition: background-color 1s;
}

#pomodoro-container {
  background-color: var(--bg-secondary-color);
  border-radius: 16px;
  width: var(--container-length);
}

#action-button {
  width: var(--container-length);
  border-radius: 16px;
  border-color: grey;
}

#info-bar {
  background-color: var(--bg-secondary-color);
  border-radius: 16px;
  width: var(--container-length);
  height: inherit;
}

.icon-button {
  color: var(--bg-text-color);
  transition: visbility 1s;
}

.icon-button:hover {
  color: var(--bg-text-hover-color)
}

.smaller-words {
  font-size: 13px;
}

.larger-words {
  font-size: 28px;
}
